.form {
	max-width: 200px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.formblock {
	gap: 7px;
	display: flex;
	flex-direction: column;
}

.button {
	min-height: 45px;
}

.input {
	min-height: 35px;
	border-radius: 2px;
}

.error {
	color: red;
}
